.B2-img_4  {
    width: 100%;
    /* background-color: rgba(0,0,0,0.5);
    background-image: ; */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../../../../Assets/Images/orthopeadicnew.jpeg');
    background-size: cover;
    /* background-repeat: no-repeat; */
   min-height: 245px;
}
.B2_4 {
    width: 25%;
    padding: 10px 10px 10px 10px;
}


.B2_4 .B2-text_4 h2{
    color: rgb(0, 149, 207);
    font-weight: normal;
    font-size: 1rem;
}
.B2-text_4 {
    text-align: center;
    padding: 20px 0px 0px 0px;

    /* width: 47%; */
    
}
.B2_4 .B2-text_4 p {
    line-height: 1.8;
    color: #6a6a6a;
    min-height: 82px;
}
.B2-Btn_4{
   
    font-weight: 400;
    color: rgb(0, 149, 207);;
    text-align: center;

    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    /* transition: color .15s */
}
.B2-Btn_4:hover{
    background-color: rgb(0, 149, 207);;
    color: white;
   

}