.Pop_1{
    /* border: 1px solid black; */
    position: relative;
}
.Pop_1_Adj{
    /* border: 1px solid red; */
    padding: 29px 10px 10px 10px; 
    background-color: white;
}

.Pop_1_img img{
    position: absolute;
    top: -12%;
}


.Pop_1_label{
    align-items: center;
}

.Pop_1_label .Pop_1_label_1 label{
    color: #999999;
}
.Pop_1_label .Pop_1_label_1 label span{
    color: black;
}
.Pop_1_label_1{
    padding: 10px 10px 10px 10px; 
}
.Pop_1_label_2{
    padding: 10px 10px 10px 10px; 
}
.Pop_1_label_3{
    padding: 10px 10px 10px 10px; 
}


.Pop_1_label_3 label{
    font-size: 13px ;
}