.B4-1 img{
    width: 100%;
}
.B4-1-Adj{
    padding: 10px 10px 10px 10px;
/* position: relative; */
}
.B4-1{
    position: relative;
}

.B4_Txt-1{
    
    text-align: center;
    padding: 5px 10px 0px 10px;
    background-color: #00000061;
    height: 60px;
    color: white;
    position: absolute;
}