.Blue_li{
    text-decoration: none;
    list-style-type: none;
    padding: 30px 20px 0px 30px;
}
.Blue_li_p{

    list-style-type: none;
    color: white;
    
   
}
.Blue_li_p a{
    color: white;

}
.Blue_Pop_Main {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: #0095cf;
    z-index: 99999;
    padding-bottom: 20px;
    color: white;
    overflow-y: scroll;
    z-index: 9999999999;
    animation: mymove 1s 1;
}


.Blue_li .fa.fa-times {
    position: absolute;
    top: 10px;
    right: 10px;
    float: right;
    font-size: 30px;
    color: wheat;
}
.Blue_li input{
    border-radius: 2px ;
    border: none;
}